body{
    display: flex;
    flex-direction: column;
}

.calculator{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;

    border-style: solid;
    border-color: red;
    background-color: red;
    border-width: 20px;

    gap: 10px;

    height: auto;
    width: 400px;
}

.display{
    min-width: 100px;
    min-height: 50px;

    background-color: white;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    word-wrap: break-word;
    word-break: break-all;

    font-size: 30px;
}

.equation{
    min-height: 20px;
    background-color: white;
    align-self: flex-start;
}

.input{
    min-height: 50px;
    background-color: white;
    align-self: flex-start;
}
.buttons{
    background-color: red;
    width: 400px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
}

.row{
    width: 400px;
    height: 70%;
    display: flex;
    flex-direction: row;

    
    flex-grow: 1;
}

button{
    width: 10px;
    height: 100%;
    flex-grow: 1;

    background-color: black;
    
    font-size: 40px;
    color: white;
}